<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
 
<!--   <servlet>
  	<servlet-name>LoginProcesa</servlet-name>
  	<display-name>LoginProcesa</display-name>
  	<description></description>
  	<servlet-class>com.nacre.hospitalmanagementsystem.action.LoginProcesa</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginProcesa</servlet-name>
  	<url-pattern>/LoginProces</url-pattern>
  </servlet-mapping> -->
  
  
  
  
  
  
</web-app>
